.header{
  margin-block-start: 15px;
}

.search-hero {
  max-inline-size: 800px;
  padding-block-end: 10px;
  position: relative;
  margin-block-end:auto;
  margin-left: 900px;
  }

  .container {
    padding-block-start: 20px;
    padding-block-end: 10px;
    color: #000000;
    position: static;
    background-color: #ffffff;
    border-radius: 1.5rem;
  }
