.container{
    background-color: white;
    padding-block-start: 2rem;
    padding-block-end: 2rem;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    border-radius: 1rem;
    padding-inline: 2rem;
}


.but-submit{
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding-inline: 3rem;
  background-color:#3f51b5;
  block-size: 48px;
  inline-size: 250px;
  inset-inline-start: 20px;
  inset-block-start: 30px;
  border-radius: 15px;
  padding: 12px 104px 12px 104px;
  color: #ffffff;
  margin-inline-start: 2rem;
  border-color: #3f51b5;

}
.but-reset{
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color:#FFFFFF;
  block-size: 48px;
  inline-size: 250px;
  inset-inline-start: 30px;
  border-radius: 15px;
  padding: 12px 104px 12px 104px;
  color: #000000;
  margin-inline-start: 3rem;
  border-width: 2px;
  border-color: #3f51b5;
}


.but-submit:hover {
  background-color: #ffffff;
  color: #3f51b5;
  border-color: #3f51b5;
}


.but-reset:hover {
  background-color: #3f51b5;
  color: white;
  border-color: #3f51b5;
}

.h3{
    text-align: start;
    margin-block-end: 1rem;
}

.column {
    display: inline-block;
    inline-size: 49%;
    vertical-align: top;
    margin-inline-end: 1%;
  }

  .column:last-child {
    margin-inline-end: 0;
  }

  .search-hero {
    max-inline-size: 300px;
    padding-block-end: 10px;
    position: relative;
    margin-block-end:auto;
    margin-inline-start: 50px;
  }
  .overlay{
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.925)
}

.content{

    inline-size: 1200px;
    block-size: 720px;
    padding: 100px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-block: 2rem;
  margin-right: 4rem;
}

.but-submit,
.but-reset {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
